# The IP addresses in use
#   The machine IP address seen by rtorrent
network.bind_address.set = (cat,(cfg.internal_ip))
#   The Internet IP address reported to the trackers
network.local_address.set = (cat,(cfg.external_ip))

# Listening port  (port_range) for incoming peer traffic
# (fixed; you can also randomize it)
network.port_range.set = (cat,(cfg.port_base),(cfg.net_port),"-",(cfg.port_base),(cfg.net_port))
network.port_random.set = no

# Set whether the client should try to connect to UDP trackers
# (It can cause various problems if it's enabled, if you experience
# any with this option enabled then disable it.)
trackers.use_udp.set = yes

# Other operational settings (check & adapt)
encoding.add = utf8
system.umask.set = 0027
system.cwd.set = (directory.default)
##network.http.capath.set = "/etc/ssl/certs"
##network.http.ssl_verify_peer.set = 0
##network.http.ssl_verify_host.set = 0
##pieces.hash.on_completion.set = no
##keys.layout.set = qwerty

